 
 body{
 background:#c0c0c0;
 }
 
 #address{
 
 height:900px;
 width:100%;
 background:#cbbeb5;
 border:1px solid #F1F1F1;
 -moz-border-radius:20px;
 -moz-box-shadow:2px 2px 5px #999;
 -webkit-border-radius:20px;
 -webkit-box-shadow:2px 2px 5px #999;
 
 }
 
 #address .head{
 
 color:#800000;
 font-size:26px;
 font-weight:bold;
 font-family:Arial;
 margin-left:10px;
 
 }
 
 #address .loc{
 background:#008080;
 margin-left:150px;
 margin-right:150px;
 margin-top:20px;
 -moz-border-radius:20px;
 -moz-box-shadow:2px 2px 5px #999;
 -webkit-border-radius:20px;
 -webkit-box-shadow:2px 2px 5px #999;
 
 
 }