body{
 background:#E9E9E9;
 }
 
 h1{
 font-size:26px;
 font-weight:bold;
 font-family:Arial;
 color:#008080;
 
 }
 #maindiv{
 height:auto;
 width: 100%;
 }
 
 
 #form{
  
 width: 820px;
 margin-top: 30px;
 margin-left:30px;
 background:#FFF;
 border:1px solid #F1F1F1;
 -moz-border-radius:20px;
 -moz-box-shadow:2px 2px 5px #999;
 -webkit-border-radius:20px;
 -webkit-box-shadow:2px 2px 5px #999;
 padding:16px 10px 40px;
 
 }
 
 #form #country{
 font-size:16px;
 font-weight:bold;
 font-family:Arial;
 }
 
 #form .row{
 border-bottom: 1px dotted #EEE;
 display:block;
 line-height: 10px;
 overflow:auto;
 padding:24px 0px;
 width:100%;
 
 }
 
 #form .row .label{
 font-size:16px;
 font-weight:bold;
 font-family:Arial;
 width:180px;
 text-align:right;
 float:left;
 padding-right:10px;
 margin-right:10px;
 margin-top:10px;
 }
 #form .row .input{
 float:left;
 margin-right:10px;
 width:auto;
 }
 
 .detail {
 width:300px;
 font-family: Arial;
 font-size:20px;
 padding: 7px 8px;
 margin:0;
 }
 
 #form .row .context{
 color:#999;
 font-size:15px;
 font-style:italic;
 font-family:Arial;
 width:200px;
 float:left;
 }
 
 #form .row .date{
 float:left;
 margin-right:10px;
 width:auto;
 }
 
 
 
 #form #submit{
 font-family:Arial;
 margin-top:25px;
 margin-left:210px;
 color:#000;
 font-size:1em;
 text-shadow:1px 1px 1px #999;
 padding:10px;
 }
 
 
 
 
 